*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 10vh;
}

main{
  height: 80vh;
  background-color: green;
}

.contenitore{
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
}

.number-box{
  border: 2px solid white;
  color: white;
}

.cella100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.cella81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cella49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.number-box span{
  display: none;
}

.number-box.clicked span{
  display: none;
}

footer{
  height: 10vh;
}
